    body {
      background: #f2fff2;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      font-weight: bold;
    }
    button {
      background: #22b14c;
      height: 50px;
      width: 150px;
      color: #ffffff;
      font-size: 24px;
      border: none;
      cursor: pointer;
      border-radius: 8px;
    }
    button:hover {
      background: #000000;
      color: #ffffff
      }
